$normal : #A8A878;
$fighting : #C22E28;
$flying : #87CEEB;
$poison : #B97FC9;
$ground : #8B4513;
$rock : #A8A878;
$bug: #8CB230;
$ghost : #705898;
$steel: #A8A8C0;
$fire : #FF7F00;
$water : #6495ED;
$grass : #78C850;
$eletric : #F7D02C;
$psychi : #F95587;
$ice: #BCE6E6;
$dragon: #7038F8;
$dark: #705848;
$fairy: #FFAEC9;
$shadow : #333333 ;
$unknown: #808080;
