<section id="details">
    <div class="container-top" *ngFor="let pokemon of pokemonDetails">
        
            <div class="left">
                <div class="pokemon-name">
                    <h2>{{pokemon.name}}</h2>
                </div>
                <div class="info-pokemon">
                    <p>ID: <span>{{pokemon.id}}</span></p>
                    <p>Tipo: <span [class]="pokemon.types[0].type.name">{{pokemon.types[0].type.name}}</span></p>
                </div>
                <div class="description">
                    <h3>Descrição</h3>
                    <p>{{ pokemon.about && pokemon.about.about}}</p>
                </div>
                <div class="group-stats">
                    <h3>Status</h3>
                    <div class="stats" *ngFor="let stats of pokemon.stats ">
                        
                        <span>{{stats.stat.name}}</span>
                        <div class="progress">
                            <progress [value]="stats.base_stat" max="100"></progress>
                        </div>
                
                    </div>
                </div>
            </div>
            <div class="right">
                <div class="photo">
                    <img [src]="pokemon.sprites.other.dream_world.front_default" alt="pokemon.name">
                    <button (click)="goFeed()">Voltar</button>
                </div>
            </div>
        
    </div><!--container-->

    <div class="container-bottom">
            <app-pokedex-details (arraysPokemons)="changeRouterId($event)"/>
    </div>

</section> <!--details-->