<section id="pokedexDetails">
    <div class="container">
        <div class="title">
            <h3>Pokédex</h3>
        </div>
        <div class="group-pokemon">
            <div class="pokemon-card" [class]="pokemon.types[0].type.name" *ngFor="let pokemon of arraysPokemonsPokedexDetails">
                <div class="container-pokemon"  (click)="goDetails(pokemon.id)">

                    <div class="header-card">
                        
                        <span>{{pokemon.name}}</span>
                        <span>#{{pokemon.id}}</span>
                    </div>
                    <div class="photo">
                        <img [src]="pokemon.image" [alt]="pokemon.name">
                        
                    </div>
                    <div class="informations">
                        <div class="line-info">
                            <span>Altura:</span>
                            <span>{{pokemon.height}}</span>
                        </div>
                        <div class="line-info">
                            <span>Peso:</span>
                            <span>{{pokemon.weight}}</span>
                        </div> 
                   </div>
                </div>
                        
            </div>
        </div>
    </div>
</section>
