<section id="index">
    <div class="group">
        <video autoplay loop [volume]="statusAudio">
            <source [src]="'../../../../assets/video/Pokémon Preto e Branco.mp4'" >
        </video>

        <div class="overlay">
            <div class="index-background">
                <img src="../../../../assets/images/pokemon-cover.png" alt="">
            </div>
            <div class="index-greeting">
                <div class="text">
                    <p>Explore o mundo dos <span>Pokémons</span></p>
                    <p>Descubra todas as espécies de Pokemons</p>
                </div>
        
                <button class="go" (click)="goFeed()">Começar</button>
                
                <button class="audio-on" *ngIf="audioVideo" (click)="changeVolumeOn()">
                    <img src="../../../../assets/icons/audio-on.svg" alt="Audio On">
                </button>
                <button class="audio-off" *ngIf="!audioVideo"  (click)="changeVolumeOff()">
                    <img src="../../../../assets/icons/audio-off.svg" alt="Audio Off">
                </button>
            </div>
        </div>
    </div>

    
   
</section>
